{% extends "base.html" %}
{% block subtitle %}{{ report.date.strftime('%x') }}{% endblock %}

{% block body %}

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url('index', 'index') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ url('timeline', 'index') }}">Index</a></li>
                <li class="breadcrumb-item active" aria-current="page">Daily Log {{ report.date.strftime('%x') }}</li>
            </ol>
        </nav>

        <div class="row">
            <div class="col-12">
                <div id="currentDayChart"></div>
            </div>
        </div>

        <div class="row p-2">
            <div class="col-10">

                <nav aria-label="Pagination">
                    <ul class="pagination pagination-sm">
                        {% if report.prev %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url('timeline', 'day', report=report.prev) }}">Prev</a>
                        </li>
                        {% endif %}
                        {% if report.next %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url('timeline', 'day', report=report.next) }}">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>

            </div>

        </div>

        {% for entry in report.entries %}

            {% include "common/entry.html" %}

        {% endfor %}


{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />

{% endblock %}

{% block extrascripts %}

    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
    <script type="text/javascript">
        (function() {

            var data = { {% for entry in report.entries %}"{{ entry.metadata.time.timestamp() }}": 1 {% if not loop.last %},{% endif %}{% endfor %} };

            var legend = [1, 2, 3, 4];

            new CalHeatMap().init({
                cellSize: 14,
                itemSelector: '#currentDayChart',
                start: new Date({{ report.date.year }}, {{ report.date.month - 1 }}, {{ report.date.day }}),
                data: data,
                domain: 'day',
                subdomain: 'hour',
                tooltip: true,
                highlight: 'now',
                legend: legend,
                displayLegend: false,
                range: 1,
                colLimit: 24,
                domainLabelFormat: ""
            });

        })();
    </script>
{% endblock %}