{% extends "base.html" %}
{% block subtitle %}{{ report.date.strftime('%x') }}{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url('simple', 'index', id=id) }}">{{ name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Log {{ report.date.strftime('%x') }}</li>
        </ol>
    </nav>

    <div class="row p-2">
        <div class="col-10">

            <nav aria-label="Pagination">
                <ul class="pagination pagination-sm">
                    {% if report.prev %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url('timeline', 'day', report=report.prev) }}">Prev</a>
                        </li>
                    {% endif %}
                    {% if report.next %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url('timeline', 'day', report=report.next) }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        </div>

    </div>

    {% for entry in report.entries %}

    <div class="col-md-12">
        <h2>{{ entry.metadata.time.strftime('%X') }}</h2>

        {%  if entry.metadata.gpx_file is defined %}
        <ul>
            <li>{{ entry.metadata.gpx_data.distance }} m</li>
            <li>{{ entry.metadata.gpx_data.time }}</li>
            <li><a href="{{ url('exercise', 'data_file', file_name=entry.metadata.gpx_file, date=report.date) }}">GPX File</a></li>
        </ul>
        {% endif %}

        {{ entry.content|markdown|safe }}
    </div>
    {% endfor %}

{% endblock %}
