{% extends "base.html" %}
{% block subtitle %}Project Reporting{% endblock %}

{% block body %}

    <div class="container">
        <h1>Projects</h1>
        <ul>

            {% for organization in organizations %}
            <li>{{organization.name}}</li>
            <ul>
                {% for project in organization.projects %}
                    <li><a href="{{ url('project', 'project', project=project) }}">{{project.name}}</a> {{ project.duration }}</li>
                {% endfor %}
            </ul>
            {% endfor %}

            {% if orphaned_projects %}
            <li>Orphaned Projects</li>
            <ul>
                {% for project in orphaned_projects %}
                <li>{% if project.name %}
                        {{project.name}}
                    {%else%}
                        id: {{project.id}}
                    {%endif %}</li>
                {% endfor %}
            </ul>
            {% endif %}

        </ul>

    </div>
{% endblock %}