{% extends "base.html" %}
{% block subtitle %}Index{% endblock %}


{% block body %}
        <h1>{{ template.title }}</h1>

        <h2>Reports</h2>

        <ul>
            {% for report in reports %}
                <li><a href="{{ url(*report.path, **report.path_context) }}">{{report.name}}</a></li>
            {% endfor %}
        </ul>

        <h2>Stats</h2>

        <ul>
            <li>Execution Time: {{stats.execution_time}}</li>
            <li>
                Files Processed: {{stats.processed_files}}
                {% if stats.num_days > 0 %}
                    {{ (stats.processed_files/stats.num_days) | round(2)}} files/day
                {% else %}
                    0 files/day
                {% endif %}
                {{ (stats.processed_files/stats.execution_time) | round(2)}} files/sec
            </li>
            <li>Days Processed: {{stats.num_days}}</li>
        </ul>

        <p><small>Generated: {{stats.generated_date}}</small></p>

{% endblock %}
